[misc]
logseverity = 4  ; Warning level - shows WARNING, ERROR, CRITICAL, ALERT, EMERGENCY

[account]
brokerName = TradeMax Group Pty Ltd
refBrokerName = TradeMax Group Pty Ltd
currency = USD
balance = 100000
leverage = 200
contractsize = 1
digits = 2
stopoutpercent = 1
minimumstop = 10
spread = 10
minlotsize = 0.01
generate_plot = 1

[strategy]
pair = BTCUSD
passedtimeframe = 60
strategyid = 29
fromdate = 2018-01-01
todate = 2030-01-01
portfoliostrategies = 29
set = ./sets/Daily_MACD_BTCUSD_1H_optimize.set
raterequirements = 240,240,240,240,100,30,5
symbolrequirements = D,D,D,D,D,D,D,D
timeframerequirements = 0,60,60,240,1440,10080,43200

[optimization]
optimize = 1
optimizationtype = 0
numcores = 2
optimizationgoal = 7
population = 50
maxgenerations = 500
stopIfConverged = 1
discardAssymetricSets = 1
minTradesAYear = 20
crossoverprobability = 0.90
mutationprobability = 0.20
migrationprobability = 0.00
evolutionarymode = 0
elitismmode = 1
mutationmode = 0
crossovermode = 0

