body {
	font-family: Helvetica, Arial, sans-serif;
	color: #444;
	width: 1000px;
	margin: 0 auto;
	background: #f6f6f6;
}

table { 
	color: #333;
	font-size: 14px;
	border-collapse: 
	collapse; border-spacing: 0; 
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

img {
	margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 1px #DDD;
	margin-top: 30px; } 

td, th { border: 1px solid transparent; /* No more visible border */ height: 30px; transition: all 0.3s;  /* Simple transition for hover effect */ } 

th {
	background: #DFDFDF;  /* Darken header a bit */
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
}

td {
	background: #FAFAFA;
	text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr:hover td { background: #666!important; color: #FFF; } /* Hover cell effect! */

.sorting_asc, .sorting_desc {
	background: #666!important; color: #FFF;
}

h2 {
	font-size: 22px;
	margin: 35px 0 7px 0;
	padding: 0 0 10px 0;
}

.bold {
	font-weight:bold;
}