[general]
monitoringInterval = 60
useEmail = 1
fromEmail = amo3167@gmail.com
toEmail = amo3167@gmail.com
emailLogin = amo3167@gmail.com
emailPassword = Poilkjmnb1
smtpServer = smtp.gmail.com:587
weekOpenDay = 0
weekOpenHour = 7
weekCloseDay = 5
weekCloseHour = 7

[accounts]
accounts = Oanda

[Oanda]
accountNumber = 1
path = F:\FX\Asirikuy\asirikuy_trader_v53 Real\
frontend = AT
