[misc]
logSeverity = 6 			; 0 = Emergency, 1 = Alert, 2 = Critical, 3 = Error, 4 = Warning, 5 = Notice, 6 = Info, 7 = Debug. The selected severity level plus all lower levels will be logged

[account]
currency = USD
brokerName = Alpari (UK) Historic Data
refBrokerName = Alpari (UK) Historic Data
balance = 100000
leverage = 200
contractSize = 100000
digits = 5
stopOutPercent = 1
minimumStop = 0.0010
spread = 0.0002
minLotSize = 0.01

[strategy]
setFile = diagnostic8.set
pair = EURUSD1987
strategyID = 14
passedTimeFrame = 60
fromDate = 01/01/86			; dd/mm/yy
toDate   = 26/04/13			; dd/mm/yy
rateRequirements = 300,30
symbolRequirements = D,D
timeframeRequirements = 0,1440


[optimization]
optimize = 1
optimizationType = 1		; 0 = Brute Force, 1 = Genetic
numCores = 2			; Only for OpenMP parallel optimization

;Advanced parameters 
;for genetic optimization

optimizationGoal = 0		; 0 = profit, 1 = Maximum DD, 2 = Maximum DD in Length, 3 = PF, 4 = R2, 5 = Ulcer Index
population = 5
maxGenerations = 3			; 0 to not limit
stopIfConverged = 1
discardAssymetricSets = 1
minTradesAYear = 20

crossoverProbability = 0.9
mutationProbability = 0.2
migrationProbability = 0.0
evolutionaryMode = 0 		;0 = Darwin, 1 = Lamarck Parents, 2 = Lamarck Children, 3 = Lamarck All, 4 = Baldwin Parents, 8 = Baldwin Children 12 = Baldwin All
elitismMode = 1 			;0 = Unknown, 1 = Parents survive, 2 = One parent survives, 3 = Parents die, 4 = Rescore Parents
mutationMode = 0			;0 = Single point drift, 1 = Single point randomize, 2 = Multipoint, 3 = All point
crossoverMode = 0 			;0 = Single points, 1 = Double points, 3 = Mean, 4 = Mixing, 5 = Allele mixing
